# The Drivers of Errors in Single Unit Zestimates at Zillow
***

## Introduction

### Author
- Samuel Davila
 - Data Scientist
 - Zillow DS Department

### Purpose of project
- Identify what causes the accuracy of our estimates of property value ("Zestimates") to increase or decrease. 

### Why is this project important?
- By understanding what improves and what weakens the accuracy of our estimates, we can shore up our weaknesses while maintaining our strengths. 

### Data source
- Single unit property data from Zillow table in Data Science Database
***

## Executive Summary

### Goals
- Improve original estimate of the log error by using clustering methodologies.
    - Identify drivers of log error
    - Create model that...
    

- Deliver the following:

    - zillow_clustering_project.ipynb

    - README.md

    - acquire.py

    - prep.py

    - preprocessing.py

    - model.py
    
    - A presentation that walks through each step of our project and this notebook as a whole.

### Analysis

Analysis goes here

### Recommendation

Recommendation goes here

### Expectation

Expectation goes here
***

## Project Planning

### Acquire

### Preparation

### Exploraton

### Model

### Conclusion
***

## Acquire
Acquire the data we need for our project from the zillow table in the data science database.

Create __acquire.py__ file that contains the functions needed to replicate this process.
***

#### Importing modules needed for code in notebook to run.

In [1]:
# set up environment
from acquire import get_zillow_data
from prep import drop_missing_columns
from prep import missing_rows
from prep import drop_selected_columns
from prep import drop_more_selected_columns
from prep import zillow_dummy
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

#### Using function in acquire.py file to import data then previewing data.

In [2]:
# create variable that will hold DF for easy access to data
df = get_zillow_data()

# previewing data
df

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,parcelid,logerror,transactiondate
0,2288172,12177905,NaN,None,None,3.0,4.0,NaN,8.0,3.0,...,2016.0,36225.0,1777.51,None,NaN,6.037300e+13,3,12177905,-0.103410,2017-01-01
1,1970746,10887214,1.0,None,None,3.0,3.0,NaN,8.0,3.0,...,2016.0,45726.0,1533.89,None,NaN,6.037124e+13,4,10887214,0.006940,2017-01-01
2,781532,12095076,1.0,None,None,3.0,4.0,NaN,9.0,3.0,...,2016.0,496619.0,9516.26,None,NaN,6.037461e+13,6,12095076,-0.001011,2017-01-01
3,870991,12069064,NaN,None,None,1.0,2.0,NaN,5.0,1.0,...,2016.0,199662.0,2366.08,None,NaN,6.037302e+13,7,12069064,0.101723,2017-01-01
4,1246926,12790562,NaN,None,None,3.0,4.0,NaN,9.0,3.0,...,2016.0,43056.0,3104.19,None,NaN,6.037500e+13,8,12790562,-0.040966,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47409,2864704,10833991,1.0,None,None,3.0,3.0,NaN,8.0,3.0,...,2016.0,114000.0,4685.34,None,NaN,6.037132e+13,77608,10833991,-0.002245,2017-09-20
47410,673515,11000655,NaN,None,None,2.0,2.0,NaN,6.0,2.0,...,2016.0,283704.0,4478.43,None,NaN,6.037101e+13,77609,11000655,0.020615,2017-09-20
47411,1843709,12773139,1.0,None,None,1.0,3.0,NaN,4.0,1.0,...,2016.0,16749.0,876.43,None,NaN,6.037434e+13,77611,12773139,0.037129,2017-09-21
47412,1187175,12826780,NaN,None,None,2.0,3.0,NaN,6.0,2.0,...,2016.0,382000.0,6317.15,None,NaN,6.037503e+13,77612,12826780,0.007204,2017-09-25
47413,2455685,13083743,NaN,None,None,2.0,3.0,NaN,4.0,2.0,...,2016.0,182216.0,3345.78,None,NaN,6.037408e+13,77613,13083743,-0.197755,2018-05-25

### Acquire Takeaways
- Acquiring data from zillow database on the data science database server using the __get_zillow_data__ function
- Function needed to replicate this phase is located in the __acquire.py__ file
***

## Prepare
Prepare, tidy, and clean the data for exploration and analysis.

Create __prep.py__ file that contains the functions needed to replicate this process.
***

#### We'll use .info to see null value counts, data types, and row / columns count.

In [3]:
# using info function to examine data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47414 entries, 0 to 47413
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            47414 non-null  int64
 1   parcelid                      47414 non-null  int64
 2   airconditioningtypeid         22070 non-null  float64
 3   architecturalstyletypeid      0 non-null      object
 4   basementsqft                  0 non-null      object
 5   bathroomcnt                   47414 non-null  float64
 6   bedroomcnt                    47414 non-null  float64
 7   buildingclasstypeid           8 non-null      float64
 8   buildingqualitytypeid         46923 non-null  float64
 9   calculatedbathnbr             47368 non-null  float64
 10  decktypeid                    0 non-null      object
 11  finishedfloor1squarefeet      0 non-null      object
 12  calculatedfinishedsquarefeet  47407 non-null  float64
 13  finishedsquarefeet12          47366 non-null  float64
 14  finishedsquarefeet13          0 non-null      object
 15  finishedsquarefeet15          36 non-null     float64
 16  finishedsquarefeet50          0 non-null      object
 17  finishedsquarefeet6           5 non-null      float64
 18  fips                          47414 non-null  float64
 19  fireplacecnt                  0 non-null      object
 20  fullbathcnt                   47368 non-null  float64
 21  garagecarcnt                  10 non-null     float64
 22  garagetotalsqft               10 non-null     float64
 23  hashottuborspa                0 non-null      object
 24  heatingorsystemtypeid         46685 non-null  float64
 25  latitude                      47414 non-null  float64
 26  longitude                     47414 non-null  float64
 27  lotsizesquarefeet             46179 non-null  float64
 28  poolcnt                       11603 non-null  float64
 29  poolsizesum                   0 non-null      object
 30  pooltypeid10                  0 non-null      object
 31  pooltypeid2                   0 non-null      object
 32  pooltypeid7                   11582 non-null  float64
 33  propertycountylandusecode     47414 non-null  object
 34  propertylandusetypeid         47414 non-null  float64
 35  propertyzoningdesc            47184 non-null  object
 36  rawcensustractandblock        47414 non-null  float64
 37  regionidcity                  46372 non-null  float64
 38  regionidcounty                47414 non-null  float64
 39  regionidneighborhood          24146 non-null  float64
 40  regionidzip                   47394 non-null  float64
 41  roomcnt                       47414 non-null  float64
 42  storytypeid                   0 non-null      object
 43  threequarterbathnbr           0 non-null      object
 44  typeconstructiontypeid        0 non-null      object
 45  unitcnt                       47414 non-null  float64
 46  yardbuildingsqft17            0 non-null      object
 47  yardbuildingsqft26            0 non-null      object
 48  yearbuilt                     47400 non-null  float64
 49  numberofstories               20 non-null     float64
 50  fireplaceflag                 0 non-null      object
 51  structuretaxvaluedollarcnt    47350 non-null  float64
 52  taxvaluedollarcnt             47414 non-null  float64
 53  assessmentyear                47414 non-null  float64
 54  landtaxvaluedollarcnt         47414 non-null  float64
 55  taxamount                     47410 non-null  float64
 56  taxdelinquencyflag            2210 non-null   object
 57  taxdelinquencyyear            2210 non-null   float64
 58  censustractandblock           47298 non-null  float64
 59  id                            47414 non-null  int64
 60  parcelid                      47414 non-null  int64
 61  logerror                      47414 non-null  float64
 62  transactiondate               47414 non-null  object
dtypes: float64(38), int64(4), object(21)
memory usage: 22.8+ MB

- Many columns have a large amount of null values
    - We'll be using a function (missing_rows) to examine the amount of null values in more depth later
    - After examining in-depth, we'll decide how to proceed


- Data type of several columns need to be converted 
    - We'll handle this in a later stage since the columns in question may be removed for in an alternate step 
        - For example, we may remove a column with a bad data type due to it having too many nulls


- Several columns, such as rawcensustractandblock, are categorical variables that may have a very large amount of unique values.
    - Encoding every value for these types of columns may be computationally expensive and add a large amount of columns to our dataset.
        - We will need to set a cutoff amount for categorical column unique values and remove any columns that exceed this amount.


- Once we've identified which columns to move into explore with, we'll need to rename them if they are hard to read, such as landtaxvaluedollarcnt.

#### Using missing_rows function from prep.py to create DF that shows the total number and percent of missing rows in each column of our data.

In [4]:
# passing dataframe to function from prep.py file
missing_rows(df)

                          num_rows_missing  pct_rows_missing
id                                       0          0.000000
parcelid                                 0          0.000000
airconditioningtypeid                25344         53.452567
architecturalstyletypeid             47414        100.000000
basementsqft                         47414        100.000000
...                                    ...               ...
censustractandblock                    116          0.244653
id                                       0          0.000000
parcelid                                 0          0.000000
logerror                                 0          0.000000
transactiondate                          0          0.000000

[63 rows x 2 columns]

- There are many columns with a substantial amount of missing values
    - We will remove any columns that are missing 40% or more of their values
    - We don't have an exact formula for why we should go with 40% but it seems reasonable to remove any columns that are missing that proportion of values.

#### Using drop_missing_columns function from prep.py to remove columns that are missing 40% or more of their values.

In [5]:
# function removes any columns that are missing 40% or more of their values
drop_missing_columns(df)

,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id,parcelid,logerror,transactiondate
0,2288172,12177905,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,3.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,3,12177905,-0.103410,2017-01-01
1,1970746,10887214,3.0,3.0,8.0,3.0,1312.0,1312.0,6037.0,3.0,...,73681.0,119407.0,2016.0,45726.0,1533.89,6.037124e+13,4,10887214,0.006940,2017-01-01
2,781532,12095076,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,3.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,6,12095076,-0.001011,2017-01-01
3,870991,12069064,1.0,2.0,5.0,1.0,738.0,738.0,6037.0,1.0,...,18890.0,218552.0,2016.0,199662.0,2366.08,6.037302e+13,7,12069064,0.101723,2017-01-01
4,1246926,12790562,3.0,4.0,9.0,3.0,3039.0,3039.0,6037.0,3.0,...,177527.0,220583.0,2016.0,43056.0,3104.19,6.037500e+13,8,12790562,-0.040966,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47409,2864704,10833991,3.0,3.0,8.0,3.0,1741.0,1741.0,6037.0,3.0,...,265000.0,379000.0,2016.0,114000.0,4685.34,6.037132e+13,77608,10833991,-0.002245,2017-09-20
47410,673515,11000655,2.0,2.0,6.0,2.0,1286.0,1286.0,6037.0,2.0,...,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,77609,11000655,0.020615,2017-09-20
47411,1843709,12773139,1.0,3.0,4.0,1.0,1032.0,1032.0,6037.0,1.0,...,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,77611,12773139,0.037129,2017-09-21
47412,1187175,12826780,2.0,3.0,6.0,2.0,1762.0,1762.0,6037.0,2.0,...,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,77612,12826780,0.007204,2017-09-25
47413,2455685,13083743,2.0,3.0,4.0,2.0,1050.0,1050.0,6037.0,2.0,...,77118.0,259334.0,2016.0,182216.0,3345.78,6.037408e+13,77613,13083743,-0.197755,2018-05-25

#### While examining the data in SQL, we noticed that several columns appeared to have identical values. We're going to see how many values are unique between them.

In [6]:
# comparing each pair of columns we suspected are duplicates
# the resulting variables tell us how many rows differ between each
sqft_columns_diff = (df.finishedsquarefeet12 != df.calculatedfinishedsquarefeet).sum()
bathroom_count_diff = (df.calculatedbathnbr != df.bathroomcnt).sum()
bathroom_count_diff_alt = (df.fullbathcnt != df.bathroomcnt).sum()

print(f'Number of different values between finishedsquarefeet12 and calculatedfinishedsquarefeet: {sqft_columns_diff}')
print(f'Number of different values between calculatedbathnbr and bathroomcnt: {bathroom_count_diff}')
print(f'Number of different values between fullbathcnt and bathroomcnt: {bathroom_count_diff_alt}')

Number of different values between finishedsquarefeet12 and calculatedfinishedsquarefeet: 48
Number of different values between calculatedbathnbr and bathroomcnt: 46
Number of different values between fullbathcnt and bathroomcnt: 46

- The sum of non-duplicate values between all of these columns is 140 (48 + 46 + 46). 
    - This is roughly .003 of all rows in the DF
        - We can safely drop all the following majority-duplicate columns and only lose a extremely small proportion of rows.
            - finishedsquarefeet12
            - calculatedbathnbr
            - fullbathcnt
        - We could drop any of their alternativee columns instead but it would cost us time to find a non-arbitrary reason to do so and given how few unique values we're losing, the loss is relatively inconsequential.
        - These columns will be dropped in an upcoming function, __drop_selected_columns__, along with any other columns that are found to be in need of removal.

#### While examining the data in SQL, I noticed that tax_value_dollarcnt appeared to be the sum of landtaxvaluedollarcnt and structuretaxvaluedollarcnt. 

#### To test this I'm going to combine landtaxvaluedollarcnt and structuretaxvaluedollarcnt manually, then compare the results to landtaxvaluedollarcount and see how many of the values match.

In [7]:
# creating new df that holds all three columns we're interested in
tax_eval_df = df[['structuretaxvaluedollarcnt', 'landtaxvaluedollarcnt', 'taxvaluedollarcnt']]

# creating new column in df that is the sum of landtaxvaluedollarcnt and structuretaxvaluedollarcnt
tax_eval_df['taxvaluedollarcnt_test'] = df.structuretaxvaluedollarcnt + df.landtaxvaluedollarcnt

# comparing taxvaluedollarcnt to our manually calculated column and finding the average % of rows where the values matched
(tax_eval_df.taxvaluedollarcnt_test == tax_eval_df.taxvaluedollarcnt).mean()

0.9986501877082719

- 99% of the our manually summed values matched the original 
    - Safe the say that in a vast majority of rows, taxvaluedollarcnt is the sum of landtaxvaluedollarcnt and structuretaxvaluedollarcnt
        - This being the case, we're only going to keep taxvaluedollarcnt and remove the other two columns since their values are already accounted for in this column.
        - If need be, we can add them back later and see if we get better results by having them seperated.
            - The columns will be dropped at a later step using the __drop_selected_columns__ function

#### We're using nunique() to see how many unique values each column has. This is useful for identifying categorical columns with large amounts of unique values and columns with only a single value.

In [8]:
# nunique() displays each column and the amount of unique values that it holds
df.nunique()

id                              47293
parcelid                        47293
bathroomcnt                        13
bedroomcnt                         12
buildingqualitytypeid              12
calculatedbathnbr                  12
calculatedfinishedsquarefeet     4302
finishedsquarefeet12             4300
fips                                3
fullbathcnt                        12
heatingorsystemtypeid               3
latitude                        38668
longitude                       37041
lotsizesquarefeet               16506
propertycountylandusecode          40
propertylandusetypeid              10
propertyzoningdesc               1854
rawcensustractandblock          25213
regionidcity                      135
regionidcounty                      3
regionidzip                       290
roomcnt                             5
unitcnt                             1
yearbuilt                         131
structuretaxvaluedollarcnt      28782
taxvaluedollarcnt               32671
assessmentyear                      1
landtaxvaluedollarcnt           28407
taxamount                       46062
censustractandblock             25234
id                              47414
parcelid                        47293
logerror                        47020
transactiondate                   253
dtype: int64

- The following are categorical columns will be removed because they contain more than 10 unique values. Encoding them would be computationaly expensive and add a large amount of columns to our dataframe.

    - id (both)
    - parcelid (both)
    - buildingqualitytypeid
    - latitude
    - longitude
    - propertylandusetypeid
    - propertycountylandusecode
    - propertyzoningdesc
    - rawcensustractandblock
    - regionidcity
    - regionidzip
    - yearbuilt
    - censustractandblock
    - transactiondate

    
- There are ways to avoid the consequences of encoding categorical columns with lots of features, but in the interest of time we will avoid these routes for now.


- The following columns will be removed because they only contain 1 unique value and would thus not allow us to make any meaningful distinctions with them.

    - assessmentyear
    - unitcnt


- All of these columns will be removed using the __drop_selected_columns__ function from prep.py

#### Dropping columns that meet any of the following criteria (identified in steps prior)
    - Categorical with 10 or more unique values 
    - Only contain 1 unique value
    - landtaxvaluedollarcnt and structuretaxvaluedollarcnt
        - summed under taxvaluedollarcnt column
    - Near-duplicates of alternate column(s)

In [9]:
# using function from prep.py to drop columns meeting any criterion above
drop_selected_columns(df)

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,heatingorsystemtypeid,lotsizesquarefeet,regionidcounty,roomcnt,taxvaluedollarcnt,taxamount,logerror
0,3.0,4.0,2376.0,6037.0,2.0,13038.0,3101.0,0.0,145143.0,1777.51,-0.103410
1,3.0,3.0,1312.0,6037.0,2.0,278581.0,3101.0,0.0,119407.0,1533.89,0.006940
2,3.0,4.0,2962.0,6037.0,2.0,63000.0,3101.0,0.0,773303.0,9516.26,-0.001011
3,1.0,2.0,738.0,6037.0,NaN,4214.0,3101.0,0.0,218552.0,2366.08,0.101723
4,3.0,4.0,3039.0,6037.0,2.0,20028.0,3101.0,0.0,220583.0,3104.19,-0.040966
...,...,...,...,...,...,...,...,...,...,...,...
47409,3.0,3.0,1741.0,6037.0,2.0,59487.0,3101.0,0.0,379000.0,4685.34,-0.002245
47410,2.0,2.0,1286.0,6037.0,2.0,47405.0,3101.0,0.0,354621.0,4478.43,0.020615
47411,1.0,3.0,1032.0,6037.0,2.0,5074.0,3101.0,0.0,49546.0,876.43,0.037129
47412,2.0,3.0,1762.0,6037.0,2.0,6347.0,3101.0,0.0,522000.0,6317.15,0.007204
47413,2.0,3.0,1050.0,6037.0,7.0,5927.0,3101.0,0.0,259334.0,3345.78,-0.197755

#### Using .info to examine our remaining columns

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47414 entries, 0 to 47413
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   47414 non-null  float64
 1   bedroomcnt                    47414 non-null  float64
 2   calculatedfinishedsquarefeet  47407 non-null  float64
 3   fips                          47414 non-null  float64
 4   heatingorsystemtypeid         46685 non-null  float64
 5   lotsizesquarefeet             46179 non-null  float64
 6   regionidcounty                47414 non-null  float64
 7   roomcnt                       47414 non-null  float64
 8   taxvaluedollarcnt             47414 non-null  float64
 9   taxamount                     47410 non-null  float64
 10  logerror                      47414 non-null  float64
dtypes: float64(11)
memory usage: 4.0 MB

- Considering that we'll be encoding our categorical columns, our data types look find for now 
- A few of our columns still have missing values
    - Let's calculate what percent are missing, if the amount is very low, we can drop them instead of imputing them to save time

#### Using our missing_rows function again to find what overall percent of rows are missing values.

In [11]:
# passing dataframe to missing_rows function
# saving dataframe to variable so we can work with it more easily
missing_rows_df = missing_rows(df)

# summing values in the percent of rows missing column
# this tells us at most, what percent of rows still have missing values
total_percent_rows_missing = round((missing_rows_df.pct_rows_missing).sum(),0)

print(f'At most, {total_percent_rows_missing}% of rows contain missing values.')

At most, 4.0% of rows contain missing values.

- In the interest of time, we will drop the remaining rows with missing values
    - Given how small this amount is, it should be relatively inconsequential
    - If need be, we can add these rows back in at a later time

#### Dropping rows with missing values

In [12]:
# drop all rows with missing values
df.dropna(inplace=True)

#### RFE PREPARATION CHECKPOINT

At this point, we've removed a significant number of columns and taken care of our missing values.

Our remaining columns will be ranked using Recursive Feature Elimination (RFE) to determine which we will focus on during our initial venture through exploration. 

With that in mind, we'll need to prepare our columns for RFE by
- Encoding categorical columns
- Idenfiying and handling outliers
- Splitting our data into train, validate and test (although we only need train for RFE)
- Scaling the data

#### Before we encode our data, we need to identify our categorical columns so we know which columns to encode

In [13]:
df.nunique()

bathroomcnt                        13
bedroomcnt                         12
calculatedfinishedsquarefeet     4245
fips                                1
heatingorsystemtypeid               3
lotsizesquarefeet               16337
regionidcounty                      1
roomcnt                             1
taxvaluedollarcnt               31582
taxamount                       44224
logerror                        45105
dtype: int64

- After dropping all of our null values, we see that fips, regionidcounty and roomcnt have been reduced to one unique value each.
    - We'll remove these columns since they are no longer useful to use with only one unique value
    - If need be, we can return to this stage, impute the missing values that were dropped earlier and retain these columns for exploration

#### Dropping columns with only 1 unique value remaining since all nulls were removed

In [14]:
# using function from prep.py to drop columns meeting any criterion above
drop_more_selected_columns(df).head()

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,heatingorsystemtypeid,lotsizesquarefeet,taxvaluedollarcnt,taxamount,logerror
0,3.0,4.0,2376.0,2.0,13038.0,145143.0,1777.51,-0.103410
1,3.0,3.0,1312.0,2.0,278581.0,119407.0,1533.89,0.006940
2,3.0,4.0,2962.0,2.0,63000.0,773303.0,9516.26,-0.001011
4,3.0,4.0,3039.0,2.0,20028.0,220583.0,3104.19,-0.040966
5,3.0,2.0,1290.0,2.0,54048.0,371361.0,4557.32,-0.036763

- With those columns removed we can now encode our sole remaining categorical variable, heatingorsystemtypeid

#### Using zillow_dummy function from prep.py to create dummy variables for heatingorsystemtypeid

In [15]:
# saving resulting df to variable
df = zillow_dummy(df)

# previewing dummy data
df.head()

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,lotsizesquarefeet,taxvaluedollarcnt,taxamount,logerror,heating_system_type_2,heating_system_type_7,heating_system_type_20
0,3.0,4.0,2376.0,13038.0,145143.0,1777.51,-0.103410,1,0,0
1,3.0,3.0,1312.0,278581.0,119407.0,1533.89,0.006940,1,0,0
2,3.0,4.0,2962.0,63000.0,773303.0,9516.26,-0.001011,1,0,0
4,3.0,4.0,3039.0,20028.0,220583.0,3104.19,-0.040966,1,0,0
5,3.0,2.0,1290.0,54048.0,371361.0,4557.32,-0.036763,1,0,0

In [85]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    #outliers_df = pd.DataFrame()
    
    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=200)

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,lotsizesquarefeet,taxvaluedollarcnt,taxamount,logerror,heating_system_type_2,heating_system_type_7,heating_system_type_20,...,bathroomcnt_outliers_outliers,bedroomcnt_outliers_outliers,calculatedfinishedsquarefeet_outliers_outliers,lotsizesquarefeet_outliers_outliers,taxvaluedollarcnt_outliers_outliers,taxamount_outliers_outliers,logerror_outliers_outliers,heating_system_type_2_outliers_outliers,heating_system_type_7_outliers_outliers,heating_system_type_20_outliers_outliers
0,3.0,4.0,2376.0,13038.0,145143.0,1777.51,-0.103410,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.0,3.0,1312.0,278581.0,119407.0,1533.89,0.006940,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,4.0,2962.0,63000.0,773303.0,9516.26,-0.001011,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,4.0,3039.0,20028.0,220583.0,3104.19,-0.040966,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,3.0,2.0,1290.0,54048.0,371361.0,4557.32,-0.036763,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47409,3.0,3.0,1741.0,59487.0,379000.0,4685.34,-0.002245,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47410,2.0,2.0,1286.0,47405.0,354621.0,4478.43,0.020615,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47411,1.0,3.0,1032.0,5074.0,49546.0,876.43,0.037129,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47412,2.0,3.0,1762.0,6347.0,522000.0,6317.15,0.007204,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47413,2.0,3.0,1050.0,5927.0,259334.0,3345.78,-0.197755,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
outlier_cols = [col for col in df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = df[col][df[col] > 0]
    print(data.describe())

~~~
bathroomcnt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: bathroomcnt_outliers, dtype: float64
~~~
bedroomcnt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: bedroomcnt_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: calculatedfinishedsquarefeet_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers
count    1.100000e+01
mean     1.023053e+06
std      3.658847e+05
min      1.583742e+05
25%      1.185260e+06
50%      1.185260e+06
75%      1.185260e+06
max      1.185260e+06
Name: lotsizesquarefeet_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: taxvaluedollarcnt_outliers, dtype: float64
~~~
taxamount_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: taxamount_outliers, dtype: float64
~~~
logerror_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: logerror_outliers, dtype: float64
~~~
heating_system_type_2_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: heating_system_type_2_outliers, dtype: float64
~~~
heating_system_type_7_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: heating_system_type_7_outliers, dtype: float64
~~~
heating_system_type_20_outliers
count    70.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: heating_system_type_20_outliers, dtype: float64
~~~
bathroomcnt_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: bathroomcnt_outliers_outliers, dtype: float64
~~~
bedroomcnt_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: bedroomcnt_outliers_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: calculatedfinishedsquarefeet_outliers_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers_outliers
count    1.100000e+01
mean     1.023053e+06
std      3.658847e+05
min      1.583742e+05
25%      1.185260e+06
50%      1.185260e+06
75%      1.185260e+06
max      1.185260e+06
Name: lotsizesquarefeet_outliers_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: taxvaluedollarcnt_outliers_outliers, dtype: float64
~~~
taxamount_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: taxamount_outliers_outliers, dtype: float64
~~~
logerror_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: logerror_outliers_outliers, dtype: float64
~~~
heating_system_type_2_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: heating_system_type_2_outliers_outliers, dtype: float64
~~~
heating_system_type_7_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: heating_system_type_7_outliers_outliers, dtype: float64
~~~
heating_system_type_20_outliers_outliers
count    70.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: heating_system_type_20_outliers_outliers, dtype: float64

In [81]:
outliers_df

,bathroomcnt_outliers,bedroomcnt_outliers,calculatedfinishedsquarefeet_outliers,lotsizesquarefeet_outliers,taxvaluedollarcnt_outliers,taxamount_outliers,logerror_outliers
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,224857.0,0.0,0.0,0.0
2,0.0,0.0,0.0,9276.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,324.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
47409,0.0,0.0,0.0,5763.0,0.0,0.0,0.0
47410,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47411,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47412,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47413,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Explore

## Modeling

In [80]:
outlier_cols

['bathroomcnt_outliers',
 'bedroomcnt_outliers',
 'calculatedfinishedsquarefeet_outliers',
 'lotsizesquarefeet_outliers',
 'taxvaluedollarcnt_outliers',
 'taxamount_outliers',
 'logerror_outliers']

## Overall Conclusion and Takeaways